@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
    <head>
	<link rel="stylesheet" href="~/css/savunma/defense_machines.css" />
	<link rel="stylesheet" href="~/css/savunma/defense_machines-2.css" />
    <link rel="stylesheet" href="~/css/savunma/package.css" />
    <link href="~/css/savunma/savunmaSlider.css" rel="stylesheet" />
    <link href="~/css/savunma/savunmaHakkimizda.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">

	</head>

<style>
	.single-services-box .services-btn a i {
		background: #d51d27;
	}

	.section-title h6 {
		color: #d51d27;
	}

	.button-lighter:hover {
		border-color: #d51d27;
	}

	.rd-navbar-fullwidth .rd-navbar-nav > li.opened > a, .rd-navbar-fullwidth .rd-navbar-nav > li.active > a, .rd-navbar-fullwidth .rd-navbar-nav > li.focus > a, .rd-navbar-fullwidth .rd-navbar-nav > li > a:hover, .rd-navbar-static .rd-navbar-nav > li.opened > a, .rd-navbar-static .rd-navbar-nav > li.active > a, .rd-navbar-static .rd-navbar-nav > li.focus > a, .rd-navbar-static .rd-navbar-nav > li > a:hover {
		color: #d51d27;
	}

	.button-lighter::before {
		background: #d51d27;
	}

	.object-decorated__divider {
		background: #d51d27;
	}

	.ui-to-top, .ui-to-top:active, .ui-to-top:focus {
		background: #d51d27;
	}

	.feature-single-item .feature-content.active {
		background: #d51d27;
	}
	.heading-bordered {
		border-left: 3px solid #d51d27;
	}

	.feature-single-item .feature-content:hover {
		background: #d51d27;
	}
	.bg-gray-dark .post-light__title a:hover, .bg-gray-3 .post-light__title a:hover, .bg-gray-7 .post-light__title a:hover, .bg-gray-8 .post-light__title a:hover, .bg-gray-10 .post-light__title a:hover, .breadcrumbs-custom .post-light__title a:hover {
		color: #d51d27;
	}

	.bg-gray-dark .list-terms-inline dt, .bg-gray-3 .list-terms-inline dt, .bg-gray-7 .list-terms-inline dt, .bg-gray-8 .list-terms-inline dt, .bg-gray-10 .list-terms-inline dt, .breadcrumbs-custom .list-terms-inline dt {
		color: #d51d27;
	}
	.post-light time {
		color: #d51d27;
	}
</style>


<!-- Start Home Slider Area -->
<div class="home-slider-area">
    <div class="home-slider flickity-dots-absolute" data-flickity='{ "wrapAround": true, "fade": false, "prevNextButtons": false, "autoPlay": 7000, "pauseAutoPlayOnHover": true }'>
        <div class="home-slider-single-item" data-overlay-dark="2">
            <img src="@Url.Content("~/images/ZCNSTOCKS/savunmamainindex.webp")" alt="ZCN Savunma" class="slider-bg-image">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col">
                        <div class="home-slider-content">
                            <div class="logo-container">
                                <img src="@Url.Content("~/images/ZCN/savunmalogo.png")" alt="ZCN Group Logo" class="slider-logo">
                                <h2 class="brand-tagline">@Localizer["CompanySlogan"]</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Experience since 1999-->
<section class="section section-md bg-default about-area">
    <div class="bg-gray-2">
        <div class="container-fluid container-condensed">
            <div class="row row-30 flex-lg-row-reverse">
                <div class="col-md-12 col-lg-6">
                    <div class="section-md container-fluid-cell">
                        <div class="box-centered box-width-1 about-content">
                            <h3>
                                <span>@Localizer["AboutUs"]</span>
                                <span class="object-decorated object-decorated_inline">
                                    <span class="object-decorated__divider"></span>
                                </span>
                            </h3>
                            <p>
                                @Html.Raw(Localizer["DefenseDescription"].Value)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 d-flex">
                    <div class="thumb-video">
                        <img class="thumb-video__image" src="/images/ZCNSTOCKS/savunma_hakkimizda.png" alt="Savunma Sanayii" width="962" height="505" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@* <section class="feature-section bg-grey pt-100 pb-70">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="feature-single-item">
					<div class="feature-content">
						<h3>Savunma</h3>
						<div class="feature-icon">
							<span class="border-circle"></span>
							<img src="~/images/icons/icon-1.svg" alt="svg icon">
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="feature-single-item">
					<div class="feature-content active">
						<h3>Savunma</h3>
						<div class="feature-icon">
							<span class="border-circle"></span>
							<img src="~/images/icons/icon-2.svg" alt="svg icon">
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="feature-single-item">
					<div class="feature-content">
						<h3>Savunma</h3>
						<div class="feature-icon">
							<span class="border-circle"></span>
							<img src="~/images/icons/icon-3.svg" alt="svg icon">
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!--silme--> *@
<!-- End Feature Section -->
<div class="machine-park-section">
    <div class="section-header">
        <h2 class="section-title">@Localizer["OurProjects"]</h2>
        <p class="section-subtitle">@Localizer["ProjectText"]</p>
    </div>

    <div class="machine-timeline">
        <!-- Makine 1 - Sol Görsel, Sağ Detay -->
        <div class="machine-item left">
            <div class="center-dot"></div>
            <div class="machine-image-box">
                <img src="/images/ZCN-Defense-Machines/cnc_ana_tema.jpeg" alt="CNC Freze" class="machine-image">
                <div class="machine-number">01</div>
            </div>
            <div class="machine-details">
                <h3 class="machine-name">@Localizer["Machine1Title"]</h3>
                @* <div class="machine-basic-info">X2000 Y1200 Z762</div> *@
                <ul class="specs-list">
                    <li>@Localizer["Machine1Text"]</li>
                    @* <li>Geniş çalışma alanı: 2000x1200x762mm</li>
                    <li>Çift kolon yapısı ile maksimum stabilite</li>
                    <li>Ağır parça işleme kapasitesi</li>
                    <li>Otomatik takım değiştirme sistemi</li> *@
                </ul>
            </div>
        </div>

        <!-- Makine 2 - Sağ Görsel, Sol Detay -->
        <div class="machine-item right">
            <div class="center-dot"></div>
            <div class="machine-image-box">
                <img src="/images/ZCN-Defense-Machines/2-makine-net.png" alt="Döner Tabla" class="machine-image">
                <div class="machine-number">02</div>
            </div>
            <div class="machine-details">
                <h3 class="machine-name">@Localizer["Machine2Title"]</h3>
                @* <div class="machine-basic-info">Tabla Çapı 320mm - Merkez Yüksekliği 210mm</div> *@
                <ul class="specs-list">
                    <li>@Localizer["Machine2Text"]</li>
                   @*  <li>210mm merkez yüksekliği</li>
                    <li>Hassas açı ayarlama özelliği</li>
                    <li>CNC entegrasyonu mevcut</li>
                    <li>Yüksek tork kapasitesi</li> *@
                </ul>
            </div>
        </div>

        <!--makine3-->
        <div class="machine-item-2">
            <div class="center-dot-2"></div>

            <!-- Önce görseli koyun -->
            <div class="machine-image-box-2">
                <div class="machine-number-2">03</div>
                <div class="machine-image-wrapper-2">
                    <img src="/images/ZCN-Defense-Machines/3-2-duzen-2.png" alt="Döner Tabla 1" class="machine-image-2">
                </div>
                <div class="machine-image-wrapper-2">
                    <img src="/images/ZCN-Defense-Machines/3-2-makine.jpeg" alt="Döner Tabla 2" class="machine-image-2">
                </div>
                <div class="machine-image-wrapper-2">
                    <img src="/images/ZCN-Defense-Machines/3-3.jpeg" alt="Döner Tabla 3" class="machine-image-2">
                </div>
                <div class="machine-image-wrapper-2">
                    <img src="/images/ZCN-Defense-Machines/3-4.jpeg" alt="Döner Tabla 4" class="machine-image-2">
                </div>
            </div>

            <!-- Sonra metni koyun -->
            <div class="machine-details-2">
                <h3 class="machine-name-2">@Localizer["Machine3Title"]</h3>
                <div class="machine-basic-info-2">@Localizer["Machine3Info"]</div>
                <ul class="specs-list-2">
                    @Html.Raw(Localizer["Machine3Text"].Value)
                </ul>
            </div>
        </div>

        <!-- Makine 4 - Sol Görsel, Sağ Detay -->
        <div class="machine-item right">
            <div class="center-dot"></div>
            <div class="machine-image-box">
                <img src="/images/ZCN-Defense-Machines/4-duzen-2.png" alt="Döner Tabla" class="machine-image">
                <div class="machine-number">04</div>
            </div>
            <div class="machine-details">
                <h3 class="machine-name">@Localizer["Machine4Title"]</h3>
                @* <div class="machine-basic-info">Tabla Çapı 320mm - Merkez Yüksekliği 210mm</div> *@
                <ul class="specs-list">
                    <li></li>
                    @*  <li>210mm merkez yüksekliği</li>
                    <li>Hassas açı ayarlama özelliği</li>
                    <li>CNC entegrasyonu mevcut</li>
                    <li>Yüksek tork kapasitesi</li> *@
                </ul>
            </div>
        </div>
       

       @*  <!-- Makine 4 - Sağ Görsel, Sol Detay -->
        <div class="machine-item right">
            <div class="center-dot"></div>
            <div class="machine-image-box">
                <img src="/images/makineler/nxv-1020am-cnc-dik-islem-makine3.png" alt="Dik İşlem Merkezi" class="machine-image">
                <div class="machine-number">04</div>
            </div>
            <div class="machine-details">
                <h3 class="machine-name">Dik İşlem Merkezi</h3>
                <div class="machine-basic-info">X1020 Y600 Z600</div>
                <ul class="specs-list">
                    <li>Geniş çalışma alanı: 1020x600x600mm</li>
                    <li>Yüksek hızlı iş mili</li>
                    <li>Otomatik takım magazini</li>
                    <li>Hassas lineer kılavuz sistemleri</li>
                    <li>Çoklu parça işleme kapasitesi</li>
                </ul>
            </div>
        </div>

        <!-- Makine 5 - Sol Görsel, Sağ Detay -->
        <div class="machine-item left">
            <div class="center-dot"></div>
            <div class="machine-image-box">
                <img src="/images/makineler/c-eksenli-cnc-torna-makine4.jpg" alt="C Eksen Torna" class="machine-image">
                <div class="machine-number">05</div>
            </div>
            <div class="machine-details">
                <h3 class="machine-name">YCM TC-16LMB C Eksen Torna</h3>
                <div class="machine-basic-info">C Eksenli Torna Tezgahı</div>
                <ul class="specs-list">
                    <li>C ekseni ile frezeleme yeteneği</li>
                    <li>Kompleks tornalama operasyonları</li>
                    <li>Yüksek dönüş hassasiyeti</li>
                    <li>Otomatik punta değişim sistemi</li>
                    <li>Çok fonksiyonlu işleme kapasitesi</li>
                </ul>
            </div>
        </div>

        <!-- Makine 6 - Sağ Görsel, Sol Detay -->
        <div class="machine-item right">
            <div class="center-dot"></div>
            <div class="machine-image-box">
                <img src="/images/makineler/1332019-Focus-Serisi-makine5.jpg" alt="Yatay İşleme" class="machine-image">
                <div class="machine-number">06</div>
            </div>
            <div class="machine-details">
                <h3 class="machine-name">Yatay İşleme tc400 8 C Eksen</h3>
                <div class="machine-basic-info">8 Eksenli Yatay İşleme Merkezi</div>
                <ul class="specs-list">
                    <li>8 eksen eş zamanlı hareket</li>
                    <li>Palet değiştirme sistemi</li>
                    <li>Kesintisiz üretim kapasitesi</li>
                    <li>Yüksek verimlilik ve otomasyon</li>
                    <li>Kompleks parça ailelerinde uzmanlaşma</li>
                </ul>
            </div>
        </div>

        <!-- Makine 7 - Sol Görsel, Sağ Detay -->
        <div class="machine-item left">
            <div class="center-dot"></div>
            <div class="machine-image-box">
                <img src="/images/makineler/CMM-PM-makine6.jpg" alt="CMM" class="machine-image">
                <div class="machine-number">07</div>
            </div>
            <div class="machine-details">
                <h3 class="machine-name">CMM 1000x600</h3>
                <div class="machine-basic-info">Koordinat Ölçme Makinesi - 1000mm x 600mm</div>
                <ul class="specs-list">
                    <li>Mikron hassasiyetinde ölçüm</li>
                    <li>1000x600mm ölçüm alanı</li>
                    <li>3D tarama ve analiz</li>
                    <li>Kalite kontrol raporlama</li>
                    <li>CAD karşılaştırma özellikleri</li>
                </ul>
            </div>
        </div> *@
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const tagline = document.querySelector('.brand-tagline');
        if (tagline) {
            // Türkçe'ye özel uppercase
            const text = tagline.textContent;
            const turkishUpper = text
                .replace(/i/g, 'İ')
                .replace(/ı/g, 'I')
                .toLocaleUpperCase('tr-TR');
            tagline.textContent = turkishUpper;
        }
    });
</script>